@import '../utils/variables'; // Ruta desde views a utils
@import '../utils/mixins';    // Ruta desde views a utils

.app {
  background-color: $light;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
