@import '../utils/variables'; // Ruta desde components a utils
@import '../utils/mixins';    // Ruta desde components a utils

form {
  background-color: $tertiary-color;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid $black;
    border-radius: 5px;
    font-size: 14px;
  }

  button {
    @include button($primary-color, $light);
    width: 100%;
  }
}
