@import '../utils/variables'; // Ruta desde components a utils
@import '../utils/mixins';    // Ruta desde components a utils

.header {
  @include flex-center;
  padding: 10px;
  color: $black;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
